/* 
   Em HTML o código é chamado de id = em CSS é chamado de # (este código é apenas único, ou seja, aceita apenas uma vez por html)

   Em HTML o código é chamado de class = Em CSS é chamado de . (difernte do id, o class pode ser posto em varios elementos em um mesmo HTML)
*/

body {
background-color: #B7E4AF;
font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #264226;
}

h1#principal {
    text-align: center;
    font-size: 1.5em;
    background-color: #264226;
    color: white;
}

h2 {
    color: #325833;
}

.bascio {
color: #3D6B3E;
}

.intermediario {
color: #83864d;
}

.avancado {
color: #7c4747;
}